<launch>
    <!-- MoveIt! -->
    <!--node name="moveit_client_node" type="moveit_client_node_obstacle_avoidance.py" pkg="living_lab_robot_moveit_client" output="screen" respawn="true"/-->

    <node name="object_detector_action" type="object_detector_node.py" pkg="living_lab_robot_perception" output="screen"/>
    <node name="Order_target_action" type="order_sst_node.py" pkg="living_lab_robot_perception" output="screen"/>
    <node name="convert_object_coordinate" type="convert_boundingbox_node" pkg="convert_2d_to_3d" output="screen"/>
	<!-- Darknet bringup -->
    <include file="$(find darknet_ros)/launch/living_lab_robot.launch"/>

    <!--node name="demo_app" type="demo.py" pkg="living_lab_robot_apps" output="screen" /-->
    <!--node name="web_server" type="bringup_server" pkg="living_lab_robot_webserver" output="screen" /-->

    <!-- Head Pan/Tilt Controller -->
    <node name="pan_tilt_controller" type="head_pan_controller.py" pkg="living_lab_robot_control" output="screen" />

    <!-- Topic Throttle for Point Cloud -->
    <!--node name="points_throttler" type="throttle" pkg="topic_tools" args="messages /camera/depth_registered/points 2.0 /throttled_depth_registered_points"/-->
    <node name="points_throttler" type="throttle" pkg="topic_tools" args="messages /camera/depth_registered/removed_object_points 2.0 /throttled_depth_registered_points"/>

    <!-- Navigation -->
    <include file="$(find living_lab_robot_navigation)/launch/navigation.launch"/>
</launch>
