<launch>
	<!-- Robot Description and robot_state_publisher -->
	<include file="$(find living_lab_robot_description)/launch/bringup.launch">
		<arg name="use_real_robot" value="true"/>
	</include>


	<!-- Front Laser Scanner -->
	<node name="urg_node_front" pkg="urg_node" type="urg_node" output="screen">
		<param name="serial_port" value="/dev/ttyACM1"/>
		<param name="frame_id" value="front_hokuyo_link"/>
		<remap from="scan" to="front/scan"/>
		<param name="angle_min" value="-1.553343034"/>
		<param name="angle_max" value="1.553343034"/>
	</node>
	
	<!-- Rear Laser Scanner -->
	<node name="urg_node_rear" pkg="urg_node" type="urg_node" output="screen">
		<param name="serial_port" value="/dev/ttyACM0"/>
		<param name="frame_id" value="rear_hokuyo_link"/>
		<remap from="scan" to="rear/scan"/>
		<param name="angle_min" value="-1.553343034"/>
		<param name="angle_max" value="1.553343034"/>
	</node>

	<!-- Dynamixels -->
	<include file="$(find living_lab_robot_dynamixel)/launch/bringup.launch" />

	<!-- ros_controller -->
	<include file="$(find living_lab_robot_control)/launch/bringup.launch">
		<arg name="use_trajectory_controller" value="true" />
	</include>
</launch>
