<launch>
    <include file="$(find living_lab_robot_bringup)/launch/bringup.launch"/>

    <include file="$(find living_lab_robot_moveit_config)/launch/move_group.launch"/>
    <include file="$(find living_lab_robot_navigation)/launch/navigation.launch"/>

    <include file="$(find living_lab_robot_moveit_config)/launch/moveit_rviz.launch">
        <arg name="config" value="true"/>
    </include>
</launch>