<launch>
    <arg name="use_joint_state_publisher" default="false"/>
    <param name="robot_description" command="$(find xacro)/xacro --inorder $(find living_lab_robot_description)/urdf/robot.urdf.xacro" />
    <node pkg="robot_state_publisher" type="state_publisher" name="robot_state_publisher" />

    <node pkg="joint_state_publisher" type="joint_state_publisher" name="joint_state_publisher" if="$(arg use_joint_state_publisher)">
        <param name="use_gui" value="1" />
    </node>
</launch>