<launch>
    <rosparam file="$(find living_lab_robot_control)/config/controllers.yaml" command="load"/>
    <node name="joint_controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
		output="screen" args="joint_state_controller
                          arm_controller
                          head1_pan_controller
                          head2_pan_controller
                          head2_d435_tilt_controller
                            " />

    <node name="head_pan_controller" type="head_pan_controller.py" pkg="living_lab_robot_control" output="screen"/>
</launch>