<launch>
    <arg name="use_trajectory_controller" default="false"/>
    <rosparam file="$(find living_lab_robot_control)/config/controllers.yaml" command="load"/>

    <group ns="base">
        <node name="joint_controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
            output="screen" args="joint_state_controller
                                omni_base_controller
                              "/>
    </group>

    <group ns="body">
        <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="true"
                output="screen"   args="joint_state_controller
                                        body_rotate_controller
                                        elevation_controller
                                        arm_base_controller
                                        arm1_controller
                                        arm2_controller
                                        arm3_controller
                                        arm4_controller
                                        arm5_controller
                                        arm6_controller
                                        gripper_controller
                                        " unless="$(arg use_trajectory_controller)"/>

        <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="true"
                    output="screen"   args="joint_state_controller
                                            arm_controller
                                            gripper_controller
                                            " if="$(arg use_trajectory_controller)"/>
    </group>

    <group ns="head">
        <node name="joint_controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
            output="screen" args="joint_state_controller
                                  screen_tilt_controller
                                  pan_controller
                                  tilt_controller
                              " />
    </group>
</launch>