<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <link name="gripper">
        <visual>
            <origin xyz="0 0 0" rpy="0 ${90/180*pi} 0"/>
            <geometry>
                <mesh filename="package://living_lab_robot_description/meshes/gripper.dae" scale="1 1 1"/>
            </geometry>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 ${90/180*pi} 0"/>
            <geometry>
                <mesh filename="package://living_lab_robot_description/meshes/gripper.dae" scale="1 1 1"/>
            </geometry>
        </collision>
        <inertial>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <mass value="1.0"/>
            <inertia ixx="1.0" ixy="0.0" ixz="0.0" iyy="1.0" iyz="0.0" izz="1.0"/>
        </inertial>
    </link>

    <joint name="gripper_mount_joint" type="fixed">
        <parent link="manipulator_link6"/>
        <child link="gripper"/>
        <origin xyz="0 0 0" rpy="0 0 0"/>
    </joint>

    <link name="end_effector">
        <inertial>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <mass value="1.0"/>
            <inertia ixx="1.0" ixy="0.0" ixz="0.0" iyy="1.0" iyz="0.0" izz="1.0"/>
        </inertial>
    </link>

    <joint name="end_effector_joint" type="fixed">
        <parent link="gripper"/>
        <child link="end_effector"/>
        <origin xyz="0.096 0 0" rpy="0 0 0"/>
    </joint>

</robot>