<?xml version="1.0" ?>
<robot name="living_lab_robot" xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:include filename="$(find living_lab_robot_description)/urdf/gazebo.urdf.xacro"/>
    <xacro:include filename="$(find living_lab_robot_description)/urdf/transmission.urdf.xacro"/>

    <xacro:include filename="$(find living_lab_robot_description)/urdf/mobile_assy.urdf.xacro"/>
    <xacro:include filename="$(find living_lab_robot_description)/urdf/body_assy.urdf.xacro"/>
    <xacro:include filename="$(find living_lab_robot_description)/urdf/manipulator_arm.urdf.xacro"/>
    <xacro:include filename="$(find living_lab_robot_description)/urdf/gripper.urdf.xacro"/>
    <xacro:include filename="$(find living_lab_robot_description)/urdf/head_assy.urdf.xacro"/>

</robot>